
@keyframes text{
    0%{
        width: 15.625vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    100%{
        width: 12.5vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

    @media only screen and (min-width: 1920px) and (max-width: 2560px){
    @keyframes text{
            0%{
                width: 23vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                 overflow: hidden;
            }
             100%{
                width: 18vw;
                 text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
         }
    }
    

@media only screen and (min-width: 270px) and (max-width: 500px){
@keyframes text{
        0%{
            width: 70vw;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        100%{
            width: 45vw;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 992px){
        @keyframes text{
        0%{
            width: 70vw;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        100%{
                width: 55vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
        }
    }
}

@media only screen and (min-width: 150px) and (max-width: 270px){
    @keyframes text{
        0%{
            width: 70vw;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        100%{
            width: 30vw;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

@media only screen and (min-width: 1750px) and (max-width: 1920px){
    @keyframes text{
            0%{
                width: 23vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                 overflow: hidden;
            }
             100%{
                width: 18vw;
                 text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
         }
    }

@media only screen and (min-width: 1600px) and (max-width: 1750px){
    @keyframes text{
        0%{
            width: 23vw;
            text-overflow: ellipsis;
            white-space: nowrap;
             overflow: hidden;
        }
         100%{
            width: 18vw;
             text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
     }
}

@media only screen and (min-width: 1150px) and (max-width: 1600px){
    @keyframes text{
        0%{
            width: 23vw;
            text-overflow: ellipsis;
            white-space: nowrap;
             overflow: hidden;
        }
         100%{
            width: 16vw;
             text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
     }
}

@media only screen and (min-width: 992px) and (max-width: 1150px){
    @keyframes text{
        0%{
            width: 23vw;
            text-overflow: ellipsis;
            white-space: nowrap;
             overflow: hidden;
        }
         100%{
            width: 14vw;
             text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
     }
}

@keyframes pop{
    0%{
        opacity: 0;
        transform: translateY(0)
    }
    100%{
        opacity: 100;
        transform: translateY(-10px);
    }

}

@keyframes slide{
    0%{
        transform: scaleX(0);
        opacity: 1;
    }
    100%{
        transform: scaleX(1);
        opacity: 1;
        margin-left: 3vw;
    }
}

@media only screen and (min-width: 992px){
    @keyframes slide{
        0%{
            transform: scaleX(0);
            opacity: 1;
        }
        100%{
            transform: scaleX(1);
            opacity: 1;
            margin-left: 1vw;
        }
    }
}

@keyframes translate{
    0%{
        transform: translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateX(-50px) rotate(360deg);
    }
}

@keyframes translateX{
    0%{
        transform: translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateX(-65px) rotate(360deg);
    }
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes hide{
      to{
          visibility: hidden;
          height: 0;
          width: 0;
      }
}

@keyframes nothing{
    0%{
        opacity: 0%;
    }
    99%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes fill{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1
        
    }
}

@keyframes void{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
