

@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/layouts"; 
@import "./Components/components";
@import "./Utils/keyframes";
@import "./Pages/contact";

//liste des imports nécessaires pour le projet


// font 
body{
    font-family: 'Roboto', 'cursive';
    margin: 0;
    width: $fullwidth;
}

section{
    animation: nothing 2.5s;
}

//Animation qui desactive l'affichage de l'entiereté du site au démarrage afin de charger le loader


 //header
header{
    width: $fullwidth;
    font-family: 'Shrikhand', cursive;
}

@media only screen and (min-width: 993px){
    #boxheader{
        height: 5vw;
        h1{

            font-size: 3vw;
        }
    }
}

a{
    text-decoration: none;
    color: black;
    width: 100%;
    @media only screen and (min-width: 993px){
        pointer-events: none;
        width: 23%;
        .heart{
            pointer-events: all;
        }
    }
}

//Paramètrage des ancres et desactivation de ces dernières sur la version web

///ville

#city{
    display: flex;
    background-color: #e7e7e7;
    justify-content: center;
    align-items: center;
    height: 15vw;
    margin-top: 0vw;
    @media only screen and (min-width: 993px){
        height: 2.5vw;
    }
    i{
        font-size: $regularsize;
        @media only screen and (min-width: 993px){
            font-size: 1vw;
        }
    }
    h2{
        margin-left: 3vw;
        font-size: $regularsize;
        @media only screen and (min-width: 993px){
            margin-left: 1vw;
            font-size: 1vw;
        }
    }
}

//Partie haute du site avec la ville choisie

///Découverte


.discover{
    background-color: $background;
    height: 80vw;
    @media only screen and (min-width: 993px){
        height: 15vw;
    }
    &__content{
        align-items: center;
        @include column;
        h3{
        font-size: $subtitle;
        font-weight: 900;
        width: 60%;
        text-align: center;
        margin-bottom: 0;
        @media only screen and (min-width: 993px){
            font-size: 2vw;
        }
        }
        h4{
            width: 90%;
            font-size: $regularsize;
            font-weight: 100;
            text-align: center;
            margin-top: 3vw;
            @media only screen and (min-width: 993px){
            font-size: 1.7vw;
            margin-top: 1vw;
            margin-bottom: 0vw;
            }
        }
        .button{
            margin-top: 2.5vw;
            background: linear-gradient($secondary, $primary);
            padding: 5.4vw;
            border-radius: 500px;
            box-shadow: 0px 5px 10px $shadow;
            @media only screen and (min-width: 993px){
                margin-top: 1vw;
                padding: 1vw;
            }
            &:hover{
                background: linear-gradient($secondarylight, $primarylight);
                box-shadow: 0px 5px 10px $darkshadow;
            }
            &__txt{
                font-size: $regularsize;
                color: white;
                @media only screen and (min-width: 993px){
                font-size: 1vw;
                }
            }
        }
    }
}

//Brève présentation de l'entreprise avec des effets au survol ainsi que des dégradés

///Fonctionnement

.howtouse{
    @include column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 124vw;
    @media only screen and (min-width: 993px){
    height: 20vw;
    }
    h5{
        font-size: $subtitle;
        @media only screen and (min-width: 993px){
            font-size: 2vw;
        }
    }
    .pannel{
        height: 80vw;
        justify-content: space-between;
        @include column;
        @media only screen and (min-width: 993px){
            height: 20vw;
            flex-direction: row;
        }
        .choose{
            box-shadow: 0px 5px 15px $shadow;
            border-radius: 25px;
            width: 94%;
            height: 22vw;
            display: flex;
            align-items: center;
            align-content: center;
            margin-left: 3vw;
            &:hover{
                background-color: #f5edff;
                box-shadow: 0px 5px 15px $darkshadow;
            }
            &:hover i{
                color: $primary;
            }
            @media only screen and (min-width: 993px){
                width: 30%;
                height: 5vw;
                margin-left: 1vw;
            }
            &__content{
                width: 80%;
                display: flex;
                align-items: center;
                align-content: center;
                @media only screen and (min-width: 993px){
                    width: 100%;
                }
            }
            &__number{
                background-color: $primary;
                height: 7vw;
                width: 7vw;
                border-radius: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -3vw;
                @media only screen and (min-width: 993px){
                    height: 2vw;
                    width: 2vw;
                    margin-left: -1vw;
                }
                &--value{
                    color: white;
                    font-size: 3.6vw;
                    @media only screen and (min-width: 993px){
                        font-size: 1vw;
                    }
                }
            }
            &__instruction{
                font-size: 4vw;
                margin-left: 5vw;
                @media only screen and (min-width: 993px){
                    font-size: 1.5vw;
                    margin-left: 2vw;
                }
            }
        }
        .build{
            @extend .choose;
            
            &__content{
                @extend .choose__content;
            }
            &__number{
                @extend .choose__number;
                &--value{
                    color: $white;
                    font-size: 3.6vw;
                    @media only screen and (min-width: 993px){
                        font-size: 1.2vw;
                    }
                }
                }
            &__instruction{
                @extend .choose__instruction;
            }
        }
        .taste{
            @extend .choose;
            &__content{
                @extend .choose__content;
            }
            &__number{
                @extend .choose__number;
                &--value{
                    color: $white;
                    font-size: 3.6vw;
                    @media only screen and (min-width: 993px){
                        font-size: 1.2vw;
                    }
                }
            }
            &__instruction{
                @extend .choose__instruction;
            }
        }
    }
    i{
        font-size: 5vw;
        color: grey;
        margin-left: 5vw;
        @media only screen and (min-width: 993px){
            font-size: 2vw;
            margin-left: 2vw;
        }
    }
}

// Partie explicative du site qui permet de comprendre le fonctionnement de l'application

///Restaurants

.grey{
        height: 310vw;
        background-color: $background;
        @include column;
        @media only screen and (min-width: 993px){
            height: 90vw;
        }
    h5{
        font-size: $subtitle;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 13vw;
        margin-bottom: 0;
        margin-top: 0;
        @media only screen and (min-width: 993px){
            font-size: 2vw;
            padding-top: 3vw;
        }
    }
    .restaurants{
        height: 270vw;
        justify-content: space-between;
        background-color: $background;
        @include column;
        margin-top: 5vw;
        @media only screen and (min-width: 993px){
            height: 14vw;
            margin-top: 3vw;
            width:  90%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
        }
    
    .box, .box2, .box3{
        @include column;
        height: 64vw;
        border-radius: 20px;
        box-shadow: 0px 0px 10px $shadow;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        @media only screen and (min-width: 993px){
            height: 14vw;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__img--palette{
            background-image: url('images/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
            height: 44vw;
            width: $fullwidth;
            background-size: cover;
            background-position: bottom;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            display: flex;
            .new{
                padding-left: 2.8vw;
                padding-right: 2.8vw;
                height: 4.8vw;
                padding-top: 0.8vw;
                margin-left: 65vw;
                margin-top: 5vw;
                border-radius: 2px;
                box-shadow: 0px 0px 10px $shadow;
                color: darken($color: $tertiary, $amount: 35);
                background-color: $tertiary;
                font-size: 3vw;
                font-weight: 900;
                @media only screen and (min-width: 993px){
                    height: 1.2vw;
                    padding-left: 0.8vw;
                    padding-right: 0.8vw;
                    padding-top: 0.2vw;
                    margin-left: 14vw;
                    margin-top: 1vw;
                    font-size: 0.8vw;
                }
            }
            @media only screen and (min-width: 993px){
                height: 10vw;
            }
        }
        &__img--note{
            @extend .box__img--palette;
            background-image: url('images/stil-u2Lp8tXIcjw-unsplash.jpg');
            background-position-y: 69vw;
            @media only screen and (min-width: 993px){
                background-position: center;
            }
        }
        &__img--française{
            @extend .box__img--palette;
            background-image: url('images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        }
        &__img--delice{
            @extend .box__img--palette;
            background-image: url('images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
        }
        &__group{
            display: flex;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;
            align-items: center;
            @media only screen and (min-width: 993px){
                height: 2.5vw;
                margin-top: 0.5vw;
            }
        }
        &__txt{
            @include column;
            margin-top: 4.5vw;
            @media only screen and (min-width: 993px){
                margin-top: 0vw;
                height: 100%;
            }
            &--name{
                font-size: 4.5vw;
                font-weight: 900;
                @media only screen and (min-width: 993px){
                    font-size: 1.2vw;
                }
            }
            &--place{
                font-size: 4vw;
                margin-top: 1vw;
                @media only screen and (min-width: 993px){
                    font-size: 0.8vw;
                    margin-top: 0.4vw;
                }
            }
        }
    }
    }
}

.buyfood{
    display: none;
}

.menuglobal
{
    display: none;
}


//menu computer
@media only screen and (min-width: 993px){
    .menuglobal{
        width: 90%;
        @include center;
        display: flex;
        justify-content: space-between;
        .menu{
            width: 23%;
            &__dish{
                width: 20.5vw;
                &--title{
                    @include column;
                    margin-bottom: 20px;
                    .line{
                        border: 1px solid $tertiary;
                        width: 40px;
                    }
                    h6{
                        margin-bottom: 0px;
                        font-size: 1vw;
                    }
                }
                &--box, &--box2, &--box3, &--box4{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 1vw;
                    background-color: $white;
                    border-radius: 15px;
                    padding: 0vw;
                    height: 3.5vw;
                    box-shadow: 0px 0px 12px $shadow;
                    overflow: hidden;
                    opacity: 0;
                    &:hover i{
                        animation: translate 2s cubic-bezier(.26,.96,.42,1) 0.1s;
                        animation-fill-mode: backwards;
                        @media only screen and (max-width: 1315px){
                            animation: translateX 2s cubic-bezier(.26,.96,.42,1) 0.1s;
                        }
                    }
                    &:hover .animation .anim{
                        animation: slide 2s cubic-bezier(.26,.96,.42,1.01) 0.1s;
                        transform-origin: right;
                        animation-fill-mode: backwards;
                    }
                    &:hover .grouptxt .dishname{
                        animation: text 2s cubic-bezier(.26,.96,.42,1.01) 0.1s;
                    }
                    &:hover .grouptxt .accompaniment{
                        animation: text 2s cubic-bezier(.26,.96,.42,1.01) 0.1s;
                    }
                    &:hover{
                        cursor: pointer; 
                    }
                    .grouptxt{
                        @include column;
                        margin-left: 0.5vw;
                        margin-top: 0.5vw;
                        .dishname{
                            margin-bottom: 0.2vw;
                            margin-top: 0vw;
                            font-weight: 900;
                            font-size: 0.9vw;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 15.625vw;
                            height: 30px;
                        }
                        .accompaniment{
                            font-size: 0.8vw;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 15.625vw;
                            height: 25px;
                            }
                        }
                        .price{
                            font-weight: bold;
                            margin-top: 10%;
                            margin-left: 2.5vw;
                            font-size: 0.8vw;
                            }
                            .animation{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10vw;
                                @media only screen and (max-width: 1315px){
                                    margin-left: 2vw;
                                }
                                .anim{    
                                    background-color: $tertiary;
                                    border-top-right-radius: 15px;
                                    border-bottom-right-radius: 15px;
                                    width: 75px;
                                    height: 101%;
                                    opacity: 0;
                                    justify-content: center;
                                    align-items: center;
                                }
                                i{
                                    font-size: 25px;
                                    color: white;
                                    @media only screen and (max-width: 1315px){
                                        font-size: 20px;
                                    }
                                }
                            }
                }
            }
            &__dish2{
                @extend .menu__dish;
                margin-top: 4.5vw;
                &--title{
                    @extend .menu__dish--title;
                }
                &--box{
                    @extend .menu__dish--box
                }
            }

        }
    }

    .menu__dish--box2{
        animation: pop 2s cubic-bezier(.26,.96,.42,1.01) 2.65s;
        animation-fill-mode: forwards;
    }
    
    .menu__dish--box3{
        animation: pop 2s cubic-bezier(.26,.96,.42,1.01) 2.9s;
        animation-fill-mode: forwards;
    }

    .menu__dish--box4{
        animation: pop 2s cubic-bezier(.26,.96,.42,1.01) 3.15s;
        animation-fill-mode: forwards;
    }

    .menu__dish--box{
        animation: pop 2s cubic-bezier(.26,.96,.42,1.01) 2.4s;
        animation-fill-mode: forwards;
    }
    

    .buyfood{
        display: block;
        width: 12%;
        background: linear-gradient($secondary, $primary);
        padding: 1vw;
        border-radius: 500px;
        box-shadow: 0px 5px 10px $shadow;
        margin-top: 3vw;
        @include center;
        &:hover{
            background: linear-gradient($secondarylight, $primarylight);
            box-shadow: 0px 5px 10px $darkshadow;
        }
        &__txt{
            font-size: 1.5vw;
            color: white;
            margin-left: 15%;
        }
    }
}

//Partie la plus chargée du site avec tous les vignettes des restaurants renvoyant vers les autres
//pages html ainsi que le menu uniquement disponible sur la version ordinateur et les animations

@media only screen and (min-width: 993px){
    .footer{
        height: 8.5vw;
    }
}

li a{
    color: $white;
}

footer{
    animation: nothing 2.5s;  
}

//Paramètres spécifiques à la page pour le footer