@charset "UTF-8";
#boxheader {
  width: 100%;
  height: 18vw;
  box-shadow: 0px 1px 5px #bbbbbb;
  margin-top: 0;
  display: flex;
  position: relative;
  animation: nothing 2.5s;
}
#boxheader h1 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  font-size: 8vw;
}

.footer {
  color: white;
  height: 48vw;
}
.footer__logo {
  font-family: "shrikhand", "cursive";
  margin-top: 5vw;
  font-size: 35px;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  height: 100px;
}
.footer ul li {
  margin-top: 1.5vw;
  font-size: 4vw;
}
.footer ul i {
  margin-left: 0;
  color: white;
  font-size: 2.5vw;
  margin-right: 3vw;
}
.footer ul span i {
  margin-right: 2vw;
}

.heart {
  position: relative;
  height: 6vw;
  width: 6vw;
}
.heart:hover .fullheart {
  animation: fill 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 0.1s;
  transform-origin: bottom;
  animation-fill-mode: backwards;
}
.heart .fullheart {
  z-index: 1;
  opacity: 0;
  color: #9356DC;
  width: 90%;
  height: 90%;
  font-size: 5vw;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
}
.heart .empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 6vw;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 993px) {
  .heart {
    position: relative;
    height: 1.2vw;
    width: 1.2vw;
  }
  .heart:hover .fullheart {
    animation: fill 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 0.1s;
    transform-origin: bottom;
    animation-fill-mode: backwards;
  }
  .heart .empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2vw;
  }
  .heart .fullheart {
    z-index: 1;
    opacity: 0;
    color: #9356DC;
    width: 90%;
    height: 90%;
    font-size: 1vw;
    margin-top: 0.1vw;
    margin-left: 0.1vw;
  }
}
body {
  font-family: "Roboto", "cursive";
  margin: 0;
  width: 100%;
}

section {
  animation: nothing 2.5s;
}

footer {
  animation: nothing 2.5s;
}

@keyframes nothing {
  0% {
    opacity: 0%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 100;
    transform: translateY(-10px);
  }
}
.lds-dual-ring {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  animation: hide 0s ease-in 2.5s;
  animation-fill-mode: forwards;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  to {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
header {
  width: 100%;
  font-family: "Shrikhand", cursive;
}

@media only screen and (min-width: 993px) {
  #boxheader {
    width: 100%;
    height: 5vw;
    box-shadow: 0px 1px 5px #bbbbbb;
    margin-top: 0;
    display: flex;
    position: relative;
  }
  #boxheader h1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    font-size: 3vw;
  }
}
#city {
  display: flex;
  background-color: #e7e7e7;
  justify-content: center;
  align-items: center;
  height: 15vw;
  margin-top: 0vw;
}
@media only screen and (min-width: 993px) {
  #city {
    height: 2.5vw;
  }
}
#city i {
  font-size: 5vw;
}
@media only screen and (min-width: 993px) {
  #city i {
    font-size: 1vw;
  }
}
#city h2 {
  margin-left: 3vw;
  font-size: 5vw;
}
@media only screen and (min-width: 993px) {
  #city h2 {
    margin-left: 1vw;
    font-size: 1vw;
  }
}

.discover {
  background-color: #F6f6f6;
  height: 80vw;
}
@media only screen and (min-width: 993px) {
  .discover {
    height: 15vw;
  }
}
.discover__content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.discover__content h3 {
  font-size: 6vw;
  font-weight: 900;
  width: 60%;
  text-align: center;
  margin-bottom: 0;
}
@media only screen and (min-width: 993px) {
  .discover__content h3 {
    font-size: 2vw;
  }
}
.discover__content h4 {
  width: 90%;
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
  margin-top: 3vw;
}
@media only screen and (min-width: 993px) {
  .discover__content h4 {
    font-size: 1.7vw;
    margin-top: 1vw;
    margin-bottom: 0vw;
  }
}
.discover__content .button {
  margin-top: 2.5vw;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 5.4vw;
  border-radius: 500px;
  box-shadow: 0px 5px 10px #aaaaaa;
}
@media only screen and (min-width: 993px) {
  .discover__content .button {
    margin-top: 1vw;
    padding: 1vw;
  }
}
.discover__content .button:hover {
  background: linear-gradient(#fe89de, #9f6ae0);
  box-shadow: 0px 5px 10px #888888;
}
.discover__content .button__txt {
  font-size: 5vw;
  color: white;
}
@media only screen and (min-width: 993px) {
  .discover__content .button__txt {
    font-size: 1vw;
  }
}

.howtouse, .footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 124vw;
}
@media only screen and (min-width: 993px) {
  .howtouse, .footer {
    height: 20vw;
  }
}
.howtouse h5, .footer h5 {
  font-size: 6vw;
}
@media only screen and (min-width: 993px) {
  .howtouse h5, .footer h5 {
    font-size: 2vw;
  }
}
.howtouse .pannel, .footer .pannel {
  height: 80vw;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 993px) {
  .howtouse .pannel, .footer .pannel {
    height: 20vw;
    flex-direction: row;
  }
}
.howtouse .pannel .choose, .howtouse .pannel .taste, .howtouse .pannel .build, .footer .pannel .choose, .footer .pannel .taste, .footer .pannel .build {
  box-shadow: 0px 5px 15px #dbdbdb;
  border-radius: 25px;
  width: 94%;
  height: 22vw;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 3vw;
}
@media only screen and (min-width: 993px) {
  .howtouse .pannel .choose, .howtouse .pannel .taste, .howtouse .pannel .build, .footer .pannel .choose, .footer .pannel .taste, .footer .pannel .build {
    width: 30%;
    height: 5vw;
    margin-left: 1vw;
  }
}
.howtouse .pannel .choose__content, .howtouse .pannel .taste__content, .howtouse .pannel .build__content, .footer .pannel .choose__content, .footer .pannel .taste__content, .footer .pannel .build__content {
  width: 80%;
  display: flex;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 993px) {
  .howtouse .pannel .choose__content, .howtouse .pannel .taste__content, .howtouse .pannel .build__content, .footer .pannel .choose__content, .footer .pannel .taste__content, .footer .pannel .build__content {
    width: 100%;
  }
}
.howtouse .pannel .choose__number, .howtouse .pannel .taste__number, .howtouse .pannel .build__number, .footer .pannel .choose__number, .footer .pannel .taste__number, .footer .pannel .build__number {
  background-color: #9356DC;
  height: 7vw;
  width: 7vw;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -3vw;
}
@media only screen and (min-width: 993px) {
  .howtouse .pannel .choose__number, .howtouse .pannel .taste__number, .howtouse .pannel .build__number, .footer .pannel .choose__number, .footer .pannel .taste__number, .footer .pannel .build__number {
    height: 2vw;
    width: 2vw;
    margin-left: -1vw;
  }
}
.howtouse .pannel .choose__number--value, .footer .pannel .choose__number--value {
  color: white;
  font-size: 3.6vw;
}
@media only screen and (min-width: 993px) {
  .howtouse .pannel .choose__number--value, .footer .pannel .choose__number--value {
    font-size: 1vw;
  }
}
.howtouse .pannel .choose__instruction, .howtouse .pannel .taste__instruction, .howtouse .pannel .build__instruction, .footer .pannel .choose__instruction, .footer .pannel .taste__instruction, .footer .pannel .build__instruction {
  font-size: 4vw;
  margin-left: 5vw;
}
@media only screen and (min-width: 993px) {
  .howtouse .pannel .choose__instruction, .howtouse .pannel .taste__instruction, .howtouse .pannel .build__instruction, .footer .pannel .choose__instruction, .footer .pannel .taste__instruction, .footer .pannel .build__instruction {
    font-size: 1.5vw;
    margin-left: 2vw;
  }
}
.howtouse .pannel .build__number--value, .footer .pannel .build__number--value {
  color: #FFFFFF;
  font-size: 3.6vw;
}
@media only screen and (min-width: 993px) {
  .howtouse .pannel .build__number--value, .footer .pannel .build__number--value {
    font-size: 1.2vw;
  }
}
.howtouse .pannel .taste__number--value, .footer .pannel .taste__number--value {
  color: #FFFFFF;
  font-size: 3.6vw;
}
@media only screen and (min-width: 993px) {
  .howtouse .pannel .taste__number--value, .footer .pannel .taste__number--value {
    font-size: 1.2vw;
  }
}
.howtouse i, .footer i {
  font-size: 5vw;
  color: grey;
  margin-left: 5vw;
}
@media only screen and (min-width: 993px) {
  .howtouse i, .footer i {
    font-size: 2vw;
    margin-left: 2vw;
  }
}

.grey {
  height: 310vw;
  background-color: #F6f6f6;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 993px) {
  .grey {
    height: 90vw;
  }
}
.grey h5 {
  font-size: 6vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13vw;
  margin-bottom: 0;
  margin-top: 0;
}
@media only screen and (min-width: 993px) {
  .grey h5 {
    font-size: 2vw;
    padding-top: 3vw;
  }
}
.grey .restaurants {
  height: 270vw;
  justify-content: space-between;
  background-color: #F6f6f6;
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
}
@media only screen and (min-width: 993px) {
  .grey .restaurants {
    height: 14vw;
    margin-top: 3vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }
}
.grey .restaurants .box, .grey .restaurants .box2, .grey .restaurants .box3 {
  display: flex;
  flex-direction: column;
  height: 64vw;
  border-radius: 20px;
  box-shadow: 0px 0px 12px lightgrey;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 993px) {
  .grey .restaurants .box, .grey .restaurants .box2, .grey .restaurants .box3 {
    height: 14vw;
    width: 23%;
    margin-left: 0;
    margin-right: 0;
  }
}
.grey .restaurants .box__img--palette, .grey .restaurants .box__img--delice, .grey .restaurants .box2__img--delice, .grey .restaurants .box3__img--delice, .grey .restaurants .box__img--française, .grey .restaurants .box2__img--française, .grey .restaurants .box3__img--française, .grey .restaurants .box__img--note, .grey .restaurants .box2__img--note, .grey .restaurants .box3__img--note, .grey .restaurants .box2__img--palette, .grey .restaurants .box3__img--palette {
  background-image: url("images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  height: 44vw;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
@media only screen and (min-width: 993px) {
  .grey .restaurants .box__img--palette, .grey .restaurants .box__img--delice, .grey .restaurants .box2__img--delice, .grey .restaurants .box3__img--delice, .grey .restaurants .box__img--française, .grey .restaurants .box2__img--française, .grey .restaurants .box3__img--française, .grey .restaurants .box__img--note, .grey .restaurants .box2__img--note, .grey .restaurants .box3__img--note, .grey .restaurants .box2__img--palette, .grey .restaurants .box3__img--palette {
    height: 10vw;
  }
}
.grey .restaurants .box__img--note, .grey .restaurants .box2__img--note, .grey .restaurants .box3__img--note {
  background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position-y: 69vw;
}
@media only screen and (min-width: 993px) {
  .grey .restaurants .box__img--note, .grey .restaurants .box2__img--note, .grey .restaurants .box3__img--note {
    background-position: center;
  }
}
.grey .restaurants .box__img--française, .grey .restaurants .box2__img--française, .grey .restaurants .box3__img--française {
  background-image: url("images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.grey .restaurants .box__img--delice, .grey .restaurants .box2__img--delice, .grey .restaurants .box3__img--delice {
  background-image: url("images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.grey .restaurants .box__group, .grey .restaurants .box2__group, .grey .restaurants .box3__group {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 993px) {
  .grey .restaurants .box__group, .grey .restaurants .box2__group, .grey .restaurants .box3__group {
    height: 2.5vw;
    margin-top: 0.5vw;
  }
}
.grey .restaurants .box__txt, .grey .restaurants .box2__txt, .grey .restaurants .box3__txt {
  display: flex;
  flex-direction: column;
  margin-top: 4.5vw;
}
@media only screen and (min-width: 993px) {
  .grey .restaurants .box__txt, .grey .restaurants .box2__txt, .grey .restaurants .box3__txt {
    margin-top: 0vw;
    height: 100%;
  }
}
.grey .restaurants .box__txt--name, .grey .restaurants .box2__txt--name, .grey .restaurants .box3__txt--name {
  font-size: 4.5vw;
  font-weight: 900;
}
@media only screen and (min-width: 993px) {
  .grey .restaurants .box__txt--name, .grey .restaurants .box2__txt--name, .grey .restaurants .box3__txt--name {
    font-size: 1.2vw;
  }
}
.grey .restaurants .box__txt--place, .grey .restaurants .box2__txt--place, .grey .restaurants .box3__txt--place {
  font-size: 4vw;
  margin-top: 1vw;
}
@media only screen and (min-width: 993px) {
  .grey .restaurants .box__txt--place, .grey .restaurants .box2__txt--place, .grey .restaurants .box3__txt--place {
    font-size: 0.8vw;
    margin-top: 0.4vw;
  }
}

.buyfood {
  display: none;
}

.menuglobal {
  display: none;
}

@media only screen and (min-width: 993px) {
  .menuglobal {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .menuglobal .menu {
    width: 23%;
  }
  .menuglobal .menu__dish, .menuglobal .menu__dish2 {
    width: 20.5vw;
  }
  .menuglobal .menu__dish--title, .menuglobal .menu__dish2--title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .menuglobal .menu__dish--title .line, .menuglobal .menu__dish2--title .line {
    border: 1px solid #99E2D0;
    width: 40px;
  }
  .menuglobal .menu__dish--title h6, .menuglobal .menu__dish2--title h6 {
    margin-bottom: 0px;
    font-size: 1vw;
  }
  .menuglobal .menu__dish--box, .menuglobal .menu__dish2--box, .menuglobal .menu__dish--box2, .menuglobal .menu__dish--box3, .menuglobal .menu__dish--box4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1vw;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 0vw;
    height: 3.5vw;
    box-shadow: 0px 0px 12px lightgrey;
    overflow: hidden;
    opacity: 0;
  }
  .menuglobal .menu__dish--box:hover i, .menuglobal .menu__dish2--box:hover i, .menuglobal .menu__dish--box2:hover i, .menuglobal .menu__dish--box3:hover i, .menuglobal .menu__dish--box4:hover i {
    animation: translate 2s cubic-bezier(0.26, 0.96, 0.42, 1) 0.1s;
    animation-fill-mode: backwards;
  }
  .menuglobal .menu__dish--box:hover .animation .anim, .menuglobal .menu__dish2--box:hover .animation .anim, .menuglobal .menu__dish--box2:hover .animation .anim, .menuglobal .menu__dish--box3:hover .animation .anim, .menuglobal .menu__dish--box4:hover .animation .anim {
    animation: slide 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 0.1s;
    transform-origin: right;
    animation-fill-mode: backwards;
  }
  .menuglobal .menu__dish--box:hover .grouptxt .dishname, .menuglobal .menu__dish2--box:hover .grouptxt .dishname, .menuglobal .menu__dish--box2:hover .grouptxt .dishname, .menuglobal .menu__dish--box3:hover .grouptxt .dishname, .menuglobal .menu__dish--box4:hover .grouptxt .dishname {
    animation: text 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 0.1s;
  }
  .menuglobal .menu__dish--box:hover .grouptxt .accompaniment, .menuglobal .menu__dish2--box:hover .grouptxt .accompaniment, .menuglobal .menu__dish--box2:hover .grouptxt .accompaniment, .menuglobal .menu__dish--box3:hover .grouptxt .accompaniment, .menuglobal .menu__dish--box4:hover .grouptxt .accompaniment {
    animation: text 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 0.1s;
  }
  .menuglobal .menu__dish--box:hover, .menuglobal .menu__dish2--box:hover, .menuglobal .menu__dish--box2:hover, .menuglobal .menu__dish--box3:hover, .menuglobal .menu__dish--box4:hover {
    cursor: pointer;
  }
  .menuglobal .menu__dish--box .grouptxt, .menuglobal .menu__dish2--box .grouptxt, .menuglobal .menu__dish--box2 .grouptxt, .menuglobal .menu__dish--box3 .grouptxt, .menuglobal .menu__dish--box4 .grouptxt {
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
  }
  .menuglobal .menu__dish--box .grouptxt .dishname, .menuglobal .menu__dish2--box .grouptxt .dishname, .menuglobal .menu__dish--box2 .grouptxt .dishname, .menuglobal .menu__dish--box3 .grouptxt .dishname, .menuglobal .menu__dish--box4 .grouptxt .dishname {
    margin-bottom: 0.2vw;
    margin-top: 0vw;
    font-weight: 900;
    font-size: 0.9vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 15.625vw;
    height: 30px;
  }
  .menuglobal .menu__dish--box .grouptxt .accompaniment, .menuglobal .menu__dish2--box .grouptxt .accompaniment, .menuglobal .menu__dish--box2 .grouptxt .accompaniment, .menuglobal .menu__dish--box3 .grouptxt .accompaniment, .menuglobal .menu__dish--box4 .grouptxt .accompaniment {
    font-size: 0.8vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 15.625vw;
    height: 25px;
  }
  .menuglobal .menu__dish--box .price, .menuglobal .menu__dish2--box .price, .menuglobal .menu__dish--box2 .price, .menuglobal .menu__dish--box3 .price, .menuglobal .menu__dish--box4 .price {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5vw;
    font-size: 0.8vw;
  }
  .menuglobal .menu__dish--box .animation, .menuglobal .menu__dish2--box .animation, .menuglobal .menu__dish--box2 .animation, .menuglobal .menu__dish--box3 .animation, .menuglobal .menu__dish--box4 .animation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10vw;
  }
  .menuglobal .menu__dish--box .animation .anim, .menuglobal .menu__dish2--box .animation .anim, .menuglobal .menu__dish--box2 .animation .anim, .menuglobal .menu__dish--box3 .animation .anim, .menuglobal .menu__dish--box4 .animation .anim {
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 75px;
    height: 100%;
    opacity: 0;
    justify-content: center;
    align-items: center;
  }
  .menuglobal .menu__dish--box .animation i, .menuglobal .menu__dish2--box .animation i, .menuglobal .menu__dish--box2 .animation i, .menuglobal .menu__dish--box3 .animation i, .menuglobal .menu__dish--box4 .animation i {
    font-size: 25px;
    color: white;
  }
  .menuglobal .menu__dish2 {
    margin-top: 4.5vw;
  }
  .menu__dish--box2 {
    animation: pop 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 2.65s;
    animation-fill-mode: forwards;
  }

  .menu__dish--box3 {
    animation: pop 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 2.9s;
    animation-fill-mode: forwards;
  }

  .menu__dish--box4 {
    animation: pop 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 3.15s;
    animation-fill-mode: forwards;
  }

  .menu__dish--box, .menuglobal .menu__dish2--box {
    animation: pop 2s cubic-bezier(0.26, 0.96, 0.42, 1.01) 2.4s;
    animation-fill-mode: forwards;
  }

  .buyfood {
    display: block;
    width: 12%;
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 1vw;
    border-radius: 500px;
    box-shadow: 0px 5px 10px #aaaaaa;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
  }
  .buyfood:hover {
    background: linear-gradient(#fe89de, #9f6ae0);
    box-shadow: 0px 5px 10px #888888;
  }
  .buyfood__txt {
    font-size: 1.5vw;
    color: white;
    margin-left: 13%;
  }
}
@keyframes text {
  0% {
    width: 15.625vw;
  }
  100% {
    width: 11.3541666667vw;
  }
}
@media only screen and (max-width: 1750px) {
  @keyframes text {
    0% {
      width: 15.625vw;
    }
    100% {
      width: 11vw;
    }
  }
}
@media only screen and (max-width: 1600px) {
  @keyframes text {
    0% {
      width: 15.625vw;
    }
    100% {
      width: 10.5vw;
    }
  }
}
@media only screen and (max-width: 1400px) {
  @keyframes text {
    0% {
      width: 15.625vw;
    }
    100% {
      width: 10vw;
    }
  }
}
@media only screen and (max-width: 1250px) {
  @keyframes text {
    0% {
      width: 15.625vw;
    }
    100% {
      width: 9.5vw;
    }
  }
}
@media only screen and (max-width: 1100px) {
  @keyframes text {
    0% {
      width: 15.625vw;
    }
    100% {
      width: 9vw;
    }
  }
}
@media only screen and (max-width: 1000px) {
  @keyframes text {
    0% {
      width: 15.625vw;
    }
    100% {
      width: 8.5vw;
    }
  }
}
@keyframes slide {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
    margin-left: 1vw;
  }
}
@keyframes translate {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(-50px) rotate(360deg);
  }
}
footer {
  width: 100%;
  background-color: #353535;
}

.footer {
  height: 45vw;
}
@media only screen and (min-width: 993px) {
  .footer {
    color: white;
    height: 8.5vw;
  }
  .footer__logo {
    font-family: "shrikhand", "cursive";
    font-size: 2vw;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
  }
  .footer ul {
    list-style-type: none;
    padding: 0;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer ul li {
    margin-top: 0vw;
    font-size: 0.9vw;
  }
  .footer ul i {
    margin-left: 0;
    color: white;
    font-size: 2vw;
    margin-right: 1vw;
  }
  .footer ul span i {
    margin-right: 1vw;
  }
}

/*# sourceMappingURL=main-updated.css.map */
