.heart{
    position: relative;
    height: 6vw;
    width: 6vw;
    &:hover .fullheart{
        animation: fill 2s cubic-bezier(.26,.96,.42,1.01) 0.1s;
        transform-origin: bottom;
        animation-fill-mode: backwards;
    }
    &:hover .empty{
        animation: void 2s cubic-bezier(.26,.96,.42,1.01) 0.1s;
    }
    @media only screen and (min-width: 993px){
        height: 1.2vw;
        width: 1.2vw;
    }
    .fullheart{
        opacity: 0;
        width: 100%;
        height: 100%;
        font-size: 6vw;
        position: absolute;
        top: 0;
        left: 0;
        @media only screen and (min-width: 992px){
            font-size: 1.2vw;
        }
        i{
            background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .empty {
        width: 100%;
        height: 100%;
        font-size: 6vw;
        z-index: 1;
        @media only screen and (min-width: 992px){
            font-size: 1.2vw;
        }  
    }
}


